############################
# Environment / secrets
############################
.env
.env.*

############################
# Node & dependencies
############################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock

############################
# OS / editor files
############################
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
